@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-primary {
    color: #ff8a75;
  }

  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .box-shadow {
    box-shadow: 1px 1px 5px rgb(247, 247, 247), -1px -1px 5px rgb(247, 247, 247);
  }

  .red {
    border: 2px solid red;
  }
}
